:root {
	--main-text-color: white;
	--shadow: 0.5vmin 0.5vmin 0.25vmin;
}

body {
	margin: 0;
	padding: 0;

	/* https://css-tricks.com/snippets/css/better-helvetica */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;

	background-color: #444;
}

#interface-container {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;

	color: var(--main-text-color);
	font-size: 7vmin;
	text-align: center;

	text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
}

#symbol {
	flex: 0.4 1;
}

#information {
	flex: 1 1;
}

input[type=text] {
	outline: none;
	border: none;

	width: 26vmin;

	background-color: transparent;
	color: var(--main-text-color);
	font-size: 3vmin;
	text-align: center;

	text-shadow: var(--shadow) rgba(0, 0, 0, 0.1);
}

.underlined-input {
	display: inline-block;
	vertical-align: bottom;
	line-height: 0;
}

.underline {
	height: 2px;
	line-height: 2px;
	background-color: var(--main-text-color);
}

.underline-shadow {
	position: relative;
	top: -1px;
	height: 1px;
	-webkit-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
	box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
}