<!DOCTYPE html>

<html>
	<head>
		{% load static %}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
		<script src="{% static 'js/main.js' %}"></script>

		<title>Can I Take...?</title>
	</head>

	<body>
		{% block content %}{% endblock %}
	</body>
</html>