{% extends "base.html" %}

{% block content %} {% load static %}
	<div id="autocomplete-container">
		<!-- <img id="autocomplete-loading" src="{% static 'img/loading.svg' %}"> -->
		<div id="autocomplete"></div>
	</div>

	<div id="interface-page">
		<div id="symbol">
			<div id="safety-icon-container">
				<img id="icon-loading" class="safety-icon noselect" src="{% static 'img/loading.svg' %}">
				<img id="icon-unknown" class="safety-icon noselect" src="{% static 'img/unknown2.svg' %}">
				<img id="icon-synergy" class="safety-icon noselect" src="{% static 'img/synergy.svg' %}">
				<img id="icon-nosynergy" class="safety-icon noselect" src="{% static 'img/nosynergy.svg' %}">
				<img id="icon-decrease" class="safety-icon noselect" src="{% static 'img/decrease.svg' %}">
				<img id="icon-caution" class="safety-icon noselect" src="{% static 'img/caution.svg' %}">
				<img id="icon-unsafe" class="safety-icon noselect" src="{% static 'img/unsafe.svg' %}">
				<img id="icon-dangerous" class="safety-icon noselect" src="{% static 'img/dangerous.svg' %}">
			</div>
		</div>

		<div id="interface">
			Can I take&nbsp;

			<span style="white-space: nowrap;">
				<div class="underlined-input-container">
					<div class="underlined-input">
						<input class="drug-input" id="first-drug" type="text" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
						<div class="underline noselect">&nbsp;</div>
						<div class="underline-shadow noselect">&nbsp;</div>
					</div>

					<img id="autocomplete-loading-first-drug" src="{% static 'img/loading.svg' %}">
				</div>

				&nbsp;with&nbsp;

				<div class="underlined-input-container">
					<div class="underlined-input">
						<input class="drug-input" id="second-drug" type="text" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
						<div class="underline noselect">&nbsp;</div>
						<div class="underline-shadow noselect">&nbsp;</div>
					</div>

					<img id="autocomplete-loading-second-drug" src="{% static 'img/loading.svg' %}">
				</div>

				?
			</span>
		</div>

		<div id="information">
			<div id="information-content">
				<div id="combo-status">Unknown</div>
				<div id="more-info-container">
					<div id="more-info">More Info</div>
					<img id="more-info-button" src="{% static 'img/down-chevron.svg' %}">
				</div>
			</div>	
		</div>
	</div>

	<div id="more-info-page">
		<div id="back-center">
			<div id="back-container">
				<img id="back-button" src="{% static 'img/up-chevron.svg' %}">
				<div id="back">Back</div>
			</div>
		</div>

		<div id="more-info-link-container">
			<div id="more-info-link-first-drug" class="more-info-link noselect">First drug</div>
			<div id="more-info-link-second-drug" class="more-info-link noselect">Second drug</div>
			<div class="more-info-link noselect">Sources</div>
			<div class="more-info-link noselect">About</div>
		</div>

		<div id="more-info-content">
			<div id="more-info-selection">&nbsp;</div>

			<div id="drug-view-container">
				<div class="drug-view-column">
					<div class="drug-view-row">
						<div class="drug-view" id="drug-view-section-dose">
							<h1 class="drug-view-title">Dose</h1>

							<div class="drug-view-roa-container" id="drug-view-roa-container-dose">
								<button class="drug-view-roa">Oral</button>
								<button class="drug-view-roa">Insufflated</button>
								<button class="drug-view-roa">Intramuscular</button>	
							</div>

							<p class="drug-view-info">Light:&nbsp;<span id="drug-view-light-dose">1-2mg</span></p>
							<p class="drug-view-info">Common:&nbsp;<span id="drug-view-common-dose">2-3mg</span></p>
							<p class="drug-view-info">Heavy:&nbsp;<span id="drug-view-heavy-dose">3-4mg</span></p>
						</div>
					</div>

					<div class="drug-view-row">
						<div class="drug-view" id="drug-view-section-effects">
							<h1 class="drug-view-title">Effects</h1>
							<div id="drug-view-category-container">
								<span class="drug-view-category">Common</span>
								<span class="drug-view-category">Stimulant</span>
								<span class="drug-view-category">Tentative</span>
							</div>

							<div id="drug-view-effect-container">
								<p class="drug-view-info">Something</p>
								<p class="drug-view-info">Something</p>
								<p class="drug-view-info">Something</p>
							</div>
						</div>
					</div>
				</div>

				<div class="drug-view-column">
					<div class="drug-view-row">
						<div class="drug-view" id="drug-view-section-duration">
							<h1 class="drug-view-title">Duration</h1>

							<div class="drug-view-roa-container" id="drug-view-roa-container-dose">
								<button class="drug-view-roa">Oral</button>
								<button class="drug-view-roa">Insufflated</button>
								<button class="drug-view-roa">Intramuscular</button>	
							</div>

							<p class="drug-view-info">Onset:&nbsp;<span id="drug-view-onset">1-2 hours</span></p>
							<p class="drug-view-info">Duration:&nbsp;<span id="drug-view-duration">6-8 hours</span></p>
							<p class="drug-view-info">After-effects:&nbsp;<span id="drug-view-after-effects">1-12 hours</span></p>
						</div>
					</div>

					<div class="drug-view-row">
						<div class="drug-view" id="drug-view-section-note">
							<h1 class="drug-view-title">Note</h1>
							<p class="drug-view-info">The doses provided are for recreational usage. For use as a sleep aid the dose ranges from 25-100mg, or as specified on the product packaging.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}