{% extends "base.html" %} {% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/drug-input.css' %}">

	<script src="{% static 'js/FuzzySearch.min.js' %}"></script>

	<script src="{% static 'js/interaction.js' %}"></script>
	<script src="{% static 'js/tripsit.js' %}"></script>
	<script src="{% static 'js/rxnorm.js' %}"></script>
	<script src="{% static 'js/aggregator.js' %}"></script>
	<script src="{% static 'js/view.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<title>Can I Take...?</title>
{% endblock %}

{% block body %}
	<div id="autocomplete-container">
		<div id="autocomplete"></div>
	</div>

	<div id="interface-page">
		<div id="symbol">
			<div id="safety-icon-container">
				<img id="icon-loading" class="safety-icon" src="{% static 'img/loading.svg' %}">
				<img id="icon-unknown" class="safety-icon" src="{% static 'img/unknown2.svg' %}">
				<img id="icon-synergy" class="safety-icon" src="{% static 'img/synergy.svg' %}">
				<img id="icon-nosynergy" class="safety-icon" src="{% static 'img/nosynergy.svg' %}">
				<img id="icon-decrease" class="safety-icon" src="{% static 'img/decrease.svg' %}">
				<img id="icon-caution" class="safety-icon" src="{% static 'img/caution.svg' %}">
				<img id="icon-unsafe" class="safety-icon" src="{% static 'img/unsafe.svg' %}">
				<img id="icon-dangerous" class="safety-icon" src="{% static 'img/dangerous.svg' %}">
			</div>
		</div>

		<div id="interface">
			Can I take&nbsp;

			<span style="white-space: nowrap;">
				<div class="underlined-input-container">
					<div class="underlined-input">
						<input class="drug-input" id="first-drug" type="text" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
						<div class="underline noselect">&nbsp;</div>
						<div class="underline-shadow noselect">&nbsp;</div>
					</div>

					<img class="autocomplete-loader" id="autocomplete-loading-first-drug" src="{% static 'img/loading.svg' %}">
				</div>

				&nbsp;with&nbsp;

				<div class="underlined-input-container">
					<div class="underlined-input">
						<input class="drug-input" id="second-drug" type="text" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
						<div class="underline noselect">&nbsp;</div>
						<div class="underline-shadow noselect">&nbsp;</div>
					</div>

					<img class="autocomplete-loader" id="autocomplete-loading-second-drug" src="{% static 'img/loading.svg' %}">
				</div>

				?
			</span>
		</div>

		<div id="information">
			<div id="information-content">
				<div id="combo-status">Unknown</div>
				<div id="more-info-container" class="noselect">
					<div id="more-info">More Info</div>
					<img id="more-info-button" src="{% static 'img/down-chevron.svg' %}">
				</div>
			</div>	
		</div>
	</div>

	<div id="more-info-page">
		<div id="back-center">
			<div id="back-container" class="back-button-hover noselect">
				<img id="back-button" src="{% static 'img/up-chevron.svg' %}">
				<img id="more-info-back-button" src="{% static 'img/more-info-back.svg' %}">
				<div id="back">Back</div>
			</div>
		</div>

		<div id="more-info-link-container">
			<div id="more-info-link-first-drug" class="more-info-link more-info-link-hover noselect">First drug</div>
			<div id="more-info-link-second-drug" class="more-info-link more-info-link-hover noselect">Second drug</div>
			<div class="more-info-link more-info-link-hover noselect" style="pointer-events: none;">Sources</div>
			<div class="more-info-link more-info-link-hover noselect" style="pointer-events: none;">About</div>
		</div>

		<div id="more-info-content">
			<img id="drug-view-loading" src="{% static 'img/loading.svg' %}">
			<div id="more-info-selection" class="noselect">&nbsp;</div>

			<div id="drug-view-container">
				<div class="drug-view-column">
					<div class="drug-view-row">
						<div class="drug-view" id="drug-view-section-dose">
							<h1 id="drug-view-title-dose" class="drug-view-title">Dose</h1>

							<div class="drug-view-roa-container" id="drug-view-roa-container-dose"></div>

							<div id="drug-view-section-dose-container">
								<p id="drug-view-threshold-dose" class="drug-view-info"></p>
								<p id="drug-view-light-dose" class="drug-view-info"></p>
								<p id="drug-view-common-dose" class="drug-view-info"></p>
								<p id="drug-view-strong-dose" class="drug-view-info"></p>
								<p id="drug-view-heavy-dose" class="drug-view-info"></p>
							</div>
						</div>
					</div>

					<div class="drug-view-row">
						<div class="drug-view" id="drug-view-section-effects">
							<h1 class="drug-view-title">Class</h1>
							<!-- Temporarily "Class" until effects view is finished -->

							<div id="drug-view-section-effects-container">
								<div id="drug-view-category-container"></div>
								<div id="drug-view-effect-container"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="drug-view-column">
					<div class="drug-view-row">
						<div class="drug-view" id="drug-view-section-duration">
							<h1 class="drug-view-title">Duration</h1>

							<div class="drug-view-roa-container" id="drug-view-roa-container-duration"></div>

							<div id="drug-view-section-duration-container">
								<p id="drug-view-onset" class="drug-view-info"></p>
								<p id="drug-view-duration" class="drug-view-info"></p>
								<p id="drug-view-aftereffects" class="drug-view-info"></p>
							</div>
						</div>
					</div>

					<div class="drug-view-row">
						<div class="drug-view" id="drug-view-section-note">
							<h1 class="drug-view-title">Note</h1>

							<p id="drug-info-note" class="drug-view-info"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}