{% extends "base.html" %}

{% block content %}
	<div id="autocomplete-container"></div>

	<div id="interface-container">
		<div id="symbol">
			{% load static %}
			<div id="safety-icon-container">
				<img id="icon-loading" class="safety-icon" src="{% static 'img/loading.svg' %}">
				<img id="icon-unknown" class="safety-icon" src="{% static 'img/unknown2.svg' %}">
				<img id="icon-synergy" class="safety-icon" src="{% static 'img/synergy.svg' %}">
				<img id="icon-nosynergy" class="safety-icon" src="{% static 'img/nosynergy.svg' %}">
				<img id="icon-decrease" class="safety-icon" src="{% static 'img/decrease.svg' %}">
				<img id="icon-caution" class="safety-icon" src="{% static 'img/caution.svg' %}">
				<img id="icon-unsafe" class="safety-icon" src="{% static 'img/unsafe.svg' %}">
				<img id="icon-dangerous" class="safety-icon" src="{% static 'img/dangerous.svg' %}">
			</div>
		</div>

		<div id="interface">
			Can I take&nbsp;

			<span style="white-space: nowrap;">
				<div class="underlined-input">
					<input class="drug-input" id="first-drug" type="text" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
					<div class="underline noselect">&nbsp;</div>
					<div class="underline-shadow noselect">&nbsp;</div>
				</div>

				&nbsp;with&nbsp;

				<div class="underlined-input">
					<input class="drug-input" id="second-drug" type="text" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
					<div class="underline noselect">&nbsp;</div>
					<div class="underline-shadow noselect">&nbsp;</div>
				</div>

				?
			</span>
		</div>

		<div id="information">
			<div id="information-content">
				<div id="combo-status"></div>
			</div>	
		</div>
	</div>
{% endblock %}