{% extends "base.html" %}

{% block content %}
	<div id="autocomplete-container"></div>

	<div id="interface-container">
		<div id="symbol">
			{% load static %}
			<div class="safety-icon-container">
				<img class="safety-icon" src="{% static 'img/unknown.svg' %}">
			</div>
		</div>

		<div id="interface">
			Can I take&nbsp;

			<div class="underlined-input">
				<input class="drug-input" id="first-drug" type="text" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
				<div class="underline">&nbsp;</div>
				<div class="underline-shadow">&nbsp;</div>
			</div>

			&nbsp;with&nbsp;

			<div class="underlined-input">
				<input class="drug-input" id="second-drug" type="text" maxlength="255" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
				<div class="underline">&nbsp;</div>
				<div class="underline-shadow">&nbsp;</div>
			</div>

			?
		</div>

		<div id="information">&nbsp;</div>
	</div>
{% endblock %}