
.underlined-input-container {
	position: relative;
	top: 7.5vmin;
	display: inline-block;
	vertical-align: bottom;
	line-height: 0;
	pointer-events: none;
}

.underlined-input {
	pointer-events: initial;
}

.underline {
	height: 2px;
	line-height: 2px;
	background-color: var(--main-text-color);

	pointer-events: none;
}

.underline-shadow {
	position: relative;
	top: -2px;
	height: 2px;
	-webkit-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
	box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);

	pointer-events: none;
}

.drug-input, #autocomplete-container {
	outline: none;
	border: none;

	width: 26vmin;

	background-color: transparent;
	color: var(--main-text-color);
	font-size: 4vmin;
	text-align: center;

	text-shadow: var(--shadow) rgba(0, 0, 0, 0.1);

	white-space: nowrap;
	text-overflow: ellipsis;

	z-index: 2;
}

#autocomplete-container {
	position: absolute;
}

.autocomplete-suggestion {
	cursor: pointer;

	opacity: 0.5;
	margin: 0 0 10px 0;
	font-size: 4vmin;
}

.autocomplete-suggestion:hover {
	opacity: 1;
}

.autocomplete-loader {
	width: 7.5vmin;
	visibility: hidden;
	pointer-events: none;
}