#interface-page {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;

	color: var(--main-text-color);
	font-size: 7vmin;
	text-align: center;

	text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
}

#symbol {
	display: flex;
	flex-flow: column nowrap;
	flex: 0.6;
}

#information {
	flex: 1;
}

#information-content {
	padding-top: 11vh;
	box-sizing: border-box;
}

.vertical-center {
	flex: 1 1;
}

#safety-icon-container {
	margin-top: 8.75vh;
	text-align: center;
}

.safety-icon {
	display: none;
	width: 12vmin;
}

#icon-loading {
	display: initial;
	width: 14vmin;
}

#combo-status {
	opacity: 0;
	font-size: 9vmin;
	font-style: italic;
}

#more-info-container, #back-container {
	position: relative;
	display: inline-block;
	cursor: pointer;

	-webkit-transition: transform 325ms ease;
	-moz-transition: transform 325ms ease;
	-ms-transition: transform 325ms ease;
	-o-transition: transform 325ms ease;
	transition: transform 325ms ease;
}

#more-info-container {
	margin-top: 18.5vh;
	display: none;
}

#more-info-container:hover {
	transform: translateY(2vh);
}

#more-info, #back {
	font-size: 3.5vmin;
    text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
}

#more-info-button, #back-button, #more-info-back-button {
	width: 6vmin;
}

#back-center {
	text-align: center;
}

#back-container {
	font-size: 0;
	margin: 4vh 0 4vh 0;
}

.back-button-hover:hover {
	transform: translateY(-2vh);
}

.more-info-back-button-hover:hover {
	transform: scale(0.9);
}

/* MORE INFO PAGE */

#more-info-back-button {
	display: none;
}

#more-info-page {
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	top: 100vh;

	width: 100vw;
	height: 100vh;

	color: white;
}

#more-info-content {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}

#more-info-link-container {
	position: absolute;
	top: 100vh;
	text-align: center;
}

.more-info-link {
	cursor: pointer;

	font-size: 9vmin;
	text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
	opacity: 1;
}

.more-info-link-hover:hover {
	opacity: 0.5 !important;
}

#more-info-selection {
	position: relative;
	font-size: 9vmin;
	text-align: center;
	text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
}

#drug-view-container {
	flex: 1;

	display: none;
	flex-flow: row nowrap;
}

.drug-view-column {
	flex: 1;

	display: flex;
	flex-flow: column nowrap;
}

.drug-view-row {
	flex: 1;
}

.drug-view {
	text-align: center;
}

.drug-view-title {
	margin-bottom: 1vmin;
	font-size: 6vmin;
	text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
}

.drug-view-info {
	display: none;
	font-size: 2.5vmin;
	text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
}

.drug-view-roa-container {
	-webkit-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.15);
    box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.15);

    -webkit-border-radius: 2vmin;
	-moz-border-radius: 2vmin;
	border-radius: 2vmin;

	overflow: hidden;

	/* Fixes weird 1px gap */
	position: relative;
	top: 0.5px;
}

.drug-view-roa {
	cursor: pointer;

	outline: none;
	border: none;
	background: rgba(100, 100, 100, 0.45);

	color: white;
	font-size: 2.5vmin;
	padding: 0.75vmin 1.5vmin 0.75vmin 1.5vmin;
}

.drug-view-roa:hover {
	background-color: rgba(130, 130, 130, 0.45);	
}

.drug-view-roa:active {
	background-color: rgba(200, 200, 200, 0.45);	
}

.drug-view-roa-selected {
	cursor: initial !important;
	background-color: rgba(165, 165, 165, 0.45);
}

.drug-view-roa-selected-hover:hover {
	background-color: rgba(165, 165, 165, 0.45) !important;
}

#drug-view-category-container, .drug-view-roa-container {
	display: none;
	font-size: 0;
	margin-bottom: 1vmin;
}

#drug-view-category-container {
	line-height: 1.4;
}

.drug-view-category {
	display: inline-block;

	padding: 0.5vmin;
	margin: 0 0.75vmin 0.75vmin 0;

	font-size: 2.75vmin;
	background: rgba(100, 100, 100, 0.45);

	-webkit-border-radius: 0.65vmin;
	-moz-border-radius: 0.65vmin;
	border-radius: 0.65vmin;

	-webkit-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.15);
	box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.15);
}

.drug-view-category:last-child {
	margin-right: 0;
}

#drug-view-section-effects, #drug-view-section-note {
	max-width: 30vw;
}

#drug-view-loading {
	position: absolute;
	display: none;
}