:root {
	--main-text-color: white;
	--shadow: 0.35vmin 0.35vmin 0.25vmin;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

body {
	margin: 0;
	padding: 0;

	/* https://css-tricks.com/snippets/css/better-helvetica */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;

	background-color: #444;

	overflow: hidden;
}

#navbar {
	position: absolute;
	top: 0;
	left: 0;
	padding: 1.5vmin;
	font-size: 0;
}

.navbar-link {
	display: inline-block;
	padding: 1vmin;
	margin-right: 1vmin;

	font-size: 2.25vmin;
	color: white;

	-webkit-border-radius: 0.65vmin;
	-moz-border-radius: 0.65vmin;
	border-radius: 0.65vmin;

	background: transparent;

	-webkit-transition: background 275ms ease;
	-moz-transition: background 275ms ease;
	-ms-transition: background 275ms ease;
	-o-transition: background 275ms ease;
	transition: background 275ms ease;
}

.navbar-link:link {
	text-decoration: none;
}

.navbar-link:visited {
	text-decoration: none;
}

.navbar-link:hover {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.15);
}

.navbar-link:active {
	text-decoration: none;
}

.navbar-link-selected {
	background: rgba(255, 255, 255, 0.35);

	-webkit-transition: unset !important;
	-moz-transition: unset !important;
	-ms-transition: unset !important;
	-o-transition: unset !important;
	transition: unset !important;

	pointer-events: none;
}

.navbar-link-selected:hover {
	background: rgba(255, 255, 255, 0.35) !important;
}

#vignette {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;

	background: rgba(0,0,0,0);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.21)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

#interface-page {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;

	color: var(--main-text-color);
	font-size: 7vmin;
	text-align: center;

	text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
}

#symbol {
	display: flex;
	flex-flow: column nowrap;
	flex: 0.6;
}

#information {
	flex: 1;
}

#information-content {
	padding-top: 11vh;
	box-sizing: border-box;
}

.underlined-input-container {
	position: relative;
	top: 7.5vmin;
	display: inline-block;
	vertical-align: bottom;
	line-height: 0;
	pointer-events: none;
}

.underlined-input {
	pointer-events: initial;
}

.underline {
	height: 2px;
	line-height: 2px;
	background-color: var(--main-text-color);

	pointer-events: none;
}

.underline-shadow {
	position: relative;
	top: -1px;
	height: 1px;
	-webkit-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
	box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);

	pointer-events: none;
}

#autocomplete-loading-first-drug, #autocomplete-loading-second-drug {
	width: 7.5vmin;
	visibility: hidden;
	pointer-events: none;
}

.drug-input, #autocomplete-container {
	outline: none;
	border: none;

	width: 26vmin;

	background-color: transparent;
	color: var(--main-text-color);
	font-size: 4vmin;
	text-align: center;

	text-shadow: var(--shadow) rgba(0, 0, 0, 0.1);

	white-space: nowrap;
	text-overflow: ellipsis;

	z-index: 2;
}

#autocomplete-container {
	position: absolute;
}

.autocomplete-suggestion {
	cursor: pointer;

	opacity: 0.5;
	margin: 0 0 10px 0;
	font-size: 4vmin;
}

.autocomplete-suggestion:hover {
	opacity: 1;
}

.vertical-center {
	flex: 1 1;
}

#safety-icon-container {
	margin-top: 8.75vh;
	text-align: center;
}

.safety-icon {
	display: none;
	width: 12vmin;
}

#icon-loading {
	display: initial;
	width: 14vmin;
}

#combo-status {
	opacity: 0;
	font-size: 9vmin;
	font-style: italic;
}

#more-info-container, #back-container {
	position: relative;
	display: inline-block;
	cursor: pointer;

	-webkit-transition: transform 325ms ease;
	-moz-transition: transform 325ms ease;
	-ms-transition: transform 325ms ease;
	-o-transition: transform 325ms ease;
	transition: transform 325ms ease;
}

#more-info-container {
	margin-top: 18.5vh;
	display: none;
}

#more-info-container:hover {
	transform: translateY(2vh);
}

#more-info, #back {
	font-size: 3.5vmin;
}

#more-info-button, #back-button {
	width: 6vmin;
}

/* MORE INFO PAGE */

#more-info-page {
	position: absolute;
	top: 100vh;

	width: 100vw;
	height: 100vh;

	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

#more-info-column-container {
	display: flex;
	flex-flow: row nowrap;
}

#more-info-left-column {
	display: inline-block;
	flex: 1;

	background-color: white;
}

#more-info-right-column {
	display: inline-block;
	flex: 0.5;
	background-color: black;
}

#back-center {
	text-align: center;
}

#back-container {
	font-size: 0;
	margin: 4vh 0 4vh 0;
}

#back-container:hover {
	transform: translateY(-2vh);
}
