:root {
	--main-text-color: white;
	--shadow: 0.35vmin 0.35vmin 0.25vmin;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
	margin: 0;
	padding: 0;

	/* https://css-tricks.com/snippets/css/better-helvetica */
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;

	background-color: #444;

	overflow: hidden;
}

#vignette {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;

	background: rgba(0,0,0,0);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.21)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.21) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

#interface-page {
	display: flex;
	flex-flow: column nowrap;
	height: 100vh;

	color: var(--main-text-color);
	font-size: 7vmin;
	text-align: center;

	text-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
}

#symbol {
	display: flex;
	flex-flow: column nowrap;
	flex: 0.6;
}

#information {
	flex: 1;
}

#information-content {
	padding-top: 11vh;
	box-sizing: border-box;
}

.underlined-input {
	display: inline-block;
	vertical-align: bottom;
	line-height: 0;
}

.underline {
	height: 2px;
	line-height: 2px;
	background-color: var(--main-text-color);

	pointer-events: none;
}

.underline-shadow {
	position: relative;
	top: -1px;
	height: 1px;
	-webkit-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);
	box-shadow: var(--shadow) 0px rgba(0, 0, 0, 0.3);

	pointer-events: none;
}

.drug-input, #autocomplete-container {
	outline: none;
	border: none;

	width: 26vmin;

	background-color: transparent;
	color: var(--main-text-color);
	font-size: 4vmin;
	text-align: center;

	text-shadow: var(--shadow) rgba(0, 0, 0, 0.1);

	white-space: nowrap;
	text-overflow: ellipsis;
}

#autocomplete-container {
	position: absolute;
}

.autocomplete-suggestion {
	cursor: pointer;

	opacity: 0.5;
	margin: 0 0 10px 0;
	font-size: 4vmin;
}

.autocomplete-suggestion:hover {
	opacity: 1;
}

.vertical-center {
	flex: 1 1;
}

#safety-icon-container {
	margin-top: 8.75vh;
	text-align: center;
}

.safety-icon {
	display: none;
	width: 12vmin;
}

#icon-loading {
	display: initial;
	width: 14vmin;
}

#combo-status {
	display: none;
	font-size: 9vmin;
	font-style: italic;
}

#more-info-container {
	position: relative;

	cursor: pointer;
	display: none;
	margin-top: 22vh;

	-webkit-transition: padding-top 325ms ease;
	-moz-transition: padding-top 325ms ease;
	-ms-transition: padding-top 325ms ease;
	-o-transition: padding-top 325ms ease;
	transition: padding-top 325ms ease;
}

#more-info-container:hover {
	padding-top: 2vh;
}

#more-info {
	font-size: 3.5vmin;
}

#more-info-button {
	width: 6vmin;
}

/* MORE INFO PAGE */

#more-info-page {
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.5);
}